<html>
    <head>
    </head>
    <body>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/testcompany/css/main.css') }}" />
        {% block content %}
        {% endblock %}
    </body>
</html>
