<div>
    <a href="{{ url('test_office_create', { 'companyId':companyId }) }}">register new office</a>
</div>

<div>
---------------------------
</div>

{% for office in offices %}
    <div>
        <a href='{{ url('test_office_opnng_hrs', { 'officeId': office.idOffice }) }}'>{{ office.address }}</a>
        <a href='{{ url('test_office_delete', { 'officeId': office.idOffice }) }}'>delete</a>
    </div>
{% endfor %}

