{% if is_granted('IS_AUTHENTICATED_FULLY')
    and (itemAuthor == app.user.id or is_granted("ROLE_ADMIN")) %}

    
    <a href="{{ url(routeAction ~ '_edit', { 'itemId':itemId }) }}">EDIT</a>
    
    {% if itemActive %}
        <a href="{{ url(routeAction ~ '_delete', { 'itemId':itemId }) }}">DELETE</a>
    {% endif %}
    
    {% if is_granted("ROLE_ADMIN") and not itemActive %}
        <a href="{{ url(routeAction ~ '_delete', { 'itemId':itemId, 'undelete':1 }) }}">UNDELETE</a>
    {% endif %}
    
{% endif %}